.idea
.DS_Store
__MACOSX
out
dist
node_modules
test.js
# 屏蔽 7z 编译产生的所有输出文件夹
libs/third_party/7z2600-src/CPP/7zip/Bundles/Format7zF/o/
libs/third_party/7z2600-src/CPP/7zip/Bundles/Format7zF/b/
# 屏蔽 bit7z 输出文件夹
libs/third_party/bit7z/build/
libs/napi_cpp/mdz_utils/build
libs/third_party/bit7z/lib
