@import "../../../assets/base.css";

.viewer-area {
    box-sizing: border-box;
    width: 50%;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    background-color: white;
    /*height: 100%;*/
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    overflow-anchor: none;
}

#write {
    padding-top: 20px;
    padding-bottom: 20px;
}

:deep(.md-block) {
    overflow-x: scroll;
    padding-top: 5px;
    padding-bottom: 5px;
}

:deep(.table-container) {
    overflow-x: scroll;
}

.custom-toc {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 250px;
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px); /* 磨砂效果 */
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    z-index: 15;
    display: none;
}

.toc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    user-select: none;
}

.toc-title {
    color: #6a6a6a;
    font-weight: bold;
    font-size: 1.2rem;
}

.toc-title-block {
    background-color: var(--main-color);
    width: 4px;
    height: 1rem;
    margin-right: 4px;
}
