html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 185, 131, 0.06);
}

.CodeMirror-cursor {
    border-left: 2px solid #42b983; /* 将光标颜色更改为#42b983 */
}

.CodeMirror-selected {
    background: rgba(66, 185, 131, 0.20);
}
.CodeMirror-focused .CodeMirror-selected { background: rgba(66, 185, 131, 0.20); }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: rgba(66, 185, 131, 0.20); }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgba(66, 185, 131, 0.20); }

.CodeMirror {
    /*border: 1px solid #eee;*/
    height: auto;
}

.middle-content-render::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
}

.code-editor::-webkit-scrollbar {
    display: none;
}

.rend-area {
    /*color: #bababa;*/
    color: rgba(66, 185, 131, 0.47);
}

.keep-head-tail {
    display: flex;
    min-height: 100%;
    flex-flow: column;
}

.bg-container {
    top: 0;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    object-fit: cover;
    opacity: 0.7;
}

.body-wrap {
    position: relative;
}

.bg-wrap {
    position: fixed;
    z-index: -1;
    height: 100%;
}

.content-wrap {
    display: -webkit-box;
    display: -moz-box;
}

.content-resize-edit {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 50% !important;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    padding: 20px;
    background-color: #f8f9fa !important;
}

.content-resize-render {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 50% !important;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    padding: 20px;
    background-color: #f8f9fa !important;
}

.content-like {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    background-color: white;
    border-radius: 8px;
    opacity: 0.9;  /* 不要写百分数，否则webpack打包时会强制变成1% */
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px - 20px);
}

.content-like-dark {
    background-color: #242424 !important;
}

.middle-content-edit {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f8f9fa !important;

    /*word-wrap: break-word !important;*/
    /*word-break: break-all !important;*/
    border-radius: 8px;
}

.middle-content-render {
    width: 100%;
    padding: 0;
    word-wrap: break-word !important;
    word-break: break-all !important;
    background-color: #f8f9fa !important;
    margin: 20px;
    scroll-behavior: smooth;
}

.middle-content::-webkit-scrollbar {
    display: none;
}

#code-area-down::-webkit-scrollbar {
    display: none;
}

.line-num::-webkit-scrollbar {
    display: none;
}

.dp-menu {
    box-shadow: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
    border: 1px solid transparent;
    border-radius: 8px;
    width: 200px;
    background-color: white;
    transition: opacity 0.2s;
}

#leftMenu {
    opacity: 0;
    display: none;
}

#rightMenu {
    opacity: 0;
    display: none;
}

.dp-menu-element p {
    /*width: 100%;*/
    height: 30px;
    display: flex;
    align-items: center;
    /*margin-left: 16px;*/
    margin: 0;
    border-radius: 6px;
    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;
    font-size: 0.67em !important;
}

.dp-menu-element:hover {
    background-color: #fafafa;
    color: #42b983;
    font-weight: bold;
}

.upper {
    position: relative;
}

.lower {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 45px;
}

.dark-mode {

}

@font-face {
    /* 中文字体全局定义为“阿里巴巴普惠体” */
    font-family: AlibabaPuHuiTi;
    src: url("../../assets/fonts/AlibabaPuHuiTi/Alibaba-PuHuiTi-Regular.ttf");
}

.fonts {
    font-family: Lato, AlibabaPuHuiTi;
}

.code-editor {
    display: block;
    /*font-family: monospace;*/
    /*line-height: 1.5;*/
    width: 100%;
    /*background-color: #efefef; !* default prismjs theme background color *!*/
    border-radius: 8px !important;
    /*word-wrap: break-word !important;*/
    /*word-break: break-all !important;*/
    /*overflow: hidden;*/
    /*scroll-behavior: smooth;*/
}

.code-editor code {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    /*padding: 10px;*/
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    /*line-height: inherit;*/
    background-color: transparent;
    height: 100%;
}

#real-edit {
    position: relative;
    z-index: 1;
    height: 100%;
}

#real-show {
    position: absolute;
    z-index: 0;
    height: 100%;
}

.my-editor {
    display: none;
}

/*.CodeMirror pre.CodeMirror-placeholder {*/
/*    color: rgba(66, 185, 131, 0.47);*/
/*}*/

/*解决数学公式中的强制不换行*/
.mjx-chtml{
    white-space: normal!important;
}
