/* Markdown元素样式重设 */
@font-face {
    /* 中文字体全局定义为“阿里巴巴普惠体” */
    font-family: AlibabaPuHuiTi;
    src: url("../../assets/fonts/AlibabaPuHuiTi/Alibaba-PuHuiTi-Regular.ttf");
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, AlibabaPuHuiTiBold !important;
    color: #213547
}

table {
    border-right: 0;
    border-bottom: 1px solid #8e8e8e;
    text-align: center;
    border-spacing: 0;
    width: 100%;
}

table th {
    border-left: 0;
    border-top: 1px solid #8e8e8e;
    border-spacing: 0;
    padding: 0.6rem;
}

th {
    color: black;
}

tr:hover {
    background-color: #1d1d1d;
    transition: background-color 0.5s;
}

table td {
    border-left: 0;
    border-top: 1px solid #8e8e8e;
    border-spacing: 0;
    padding: 0.6rem;
}


/* END of Markdown元素样式重设 */
