html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    /* 中文字体全局定义为“阿里巴巴普惠体” */
    font-family: AlibabaPuHuiTi;
    src: url("../../assets/fonts/AlibabaPuHuiTi/Alibaba-PuHuiTi-Regular.ttf");
}

.fonts {
    font-family: Lato, AlibabaPuHuiTi;
}

.window {
    padding: 20px;
    z-index: 252;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.window-title {
    font-weight: bold;
    color: rgb(71, 71, 71);
    font-size: large;
}

.window-subtitle {
    color: rgb(71, 71, 71);
    font-size: x-small;
}

.dev-txt {
    font-weight: bold;
    color: rgb(107, 107, 107);
    font-size: small;
}

.button {
    width: 60px;
    height: 35px;
    border-radius: 10px;
    background-color: #42b883;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.button-cancel {
    width: 60px;
    height: 35px;
    border-radius: 10px;
    background-color: #c75f5f;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.input-info {
    text-align: right;
    border: none;
    outline: none;
}

.button:active {
    background-color: #2d815c;
}

/* switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #42b983;
}

input:focus + .slider {
    box-shadow: 0 0 1px #42b983;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* 圆形滑块 */
.slider.round {
    border-radius: 21px;
}

.slider.round:before {
    border-radius: 50%;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* 设置界面菜单栏 */
.options-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.options-items:hover {
    background-color: #42b98320;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options-items:hover .options-items-txt {
    color: #42b983;
    font-weight: bold;
    transition: color, font-weight 0.3s ease;
}

.options-items:hover .options-items-bar {
    display: block;
}

.options-items-bar {
    width: 3px;
    height: 1em;
    background-color: #42b883;
    border-radius: 2px;
    display: none;
}

.options-items-txt {
    margin-right: 10px;
    padding: 5px;
    color: rgb(71, 71, 71);
    font-size: 0.8em;
}

.items-separate {
    height: 0.5em;
}

.side-item-set {
    padding-left: 0 !important;
}

/* 动态修改item style start*/
.side-item-focused-for-js {
    background-color: #42b98320;
}

/* 选择父元素却更改子元素 */
.side-item-focused-for-js > .options-items-bar { /* change block style */
    width: 3px;
    height: 1em;
    background-color: #42b883;
    border-radius: 2px;
    display: block;
}

.side-item-focused-for-js > .options-items-txt { /* change txt style */
    color: #42b983;
    font-weight: bold;
}

/* 动态修改item style end*/

/* 设置项内容页面 */
.settings-item-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.settings-item-content-package {
    display: flex;
    flex-direction: column;
    width: 82%;
}

.settings-item-in-content-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.hide-content {
    display: none;
}
